<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <style>
  .my-svg {
    background-image: url('images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100vw - 15px);
    height: 100vh;

  }
  #my-main {
    z-index: 1;
    position: relative;
    
  }
  @media (max-width: 1578px) {
    .my-side-page {
        visibility: hidden;
    }
    .my-main {
        height: 150vh;
    }
    .my-inner-main {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .my-main-header {
        padding-left: 10px;
    }
  }
</style>
</head>
<body>
    <!-- main container -->
    <div class="my-main bg-[#FFFFF] -mt-20 w-full h-[170vh] flex">

        <!-- inside container -->
        <div class="my-inner-main w-3/4 h-full pt-36 px-20">
            <h1 class="my-main-header py-10 text-4xl font-bold">
                General <span class="font-normal text-xl">(snt/kWh)</span>
            </h1>

            <!-- quick view boxes -->
            <div class="mt-20 mb-20 w-full h-auto min-h-[15vh] xl:h-[15vh] grid gap-x-7 gap-y-6 grid-cols-1 lg:grid-cols-2 content-center">
                
                <!-- price now box -->
                <div class="bg-white rounded-3xl h-[14vh] drop-shadow-xl flex">
                    <div class="ml-3 mt-3 w-[105px] h-[105px] flex justify-center items-center rounded-3xl bg-[url(/icons/electricity-bolt.png)] bg-contain bg-no-repeat bg-center">
                    </div>
                    <div class="w-1/2 flex flex-col justify-center items-start p-4">
                        <h1 class="mt-4 text-2xl font-semibold">
                            Nyt, Kallis
                        </h1>
                        <p class="font-mono mt-2 text-2xl font-semibold">
                            {{priceNow}}
                        </p>
                    </div>
                </div>

                <!-- price evening box -->
                <div class="bg-white rounded-3xl h-[14vh] drop-shadow-xl flex">
                    <div class="ml-3 mt-3 mt-3 w-[105px] h-[105px]  flex justify-center items-center rounded-3xl bg-[url(/icons/night.png)] bg-cover">
                    </div>
                    <div class="w-1/2 flex flex-col justify-center items-start p-4">
                        <h1 class="mt-4 text-2xl font-semibold">
                            Illalla
                        </h1>
                        <p class="font-mono mt-2 text-2xl font-semibold">
                            {{priceEvening}}, <span class="text-xl font-normal font-sans"> kl.19:00</span>
                        </p>
                    </div>
                </div>

                <!-- lowest price today box -->
                <div class="bg-white rounded-3xl h-[14vh] drop-shadow-xl flex">
                    <div class="ml-3 mt-3 mt-3 w-[105px] h-[105px]  flex justify-center items-center rounded-3xl bg-[url(/icons/lowest.png)] bg-cover">
                    </div>
                    <div class="w-1/2 flex flex-col justify-center items-start p-4">
                        <h1 class="mt-4 text-2xl font-semibold">
                            Alin tänään
                        </h1>
                        <p class="font-mono mt-2 text-2xl font-semibold">
                            {{lowestPriceToday}}, <span class="text-xl font-normal font-sans"> kl.{{formatDate lowestPriceTodayTimeslot}}</span>
                        </p>
                    </div>
                </div>

                <!-- highest price today box -->
                <div class="bg-white rounded-3xl h-[14vh] drop-shadow-xl flex">
                    <div class="ml-3 mt-3 mt-3 w-[105px] h-[105px]  flex justify-center items-center rounded-3xl bg-[url(/icons/highest.png)] bg-cover">
                    </div>
                    <div class="w-1/2 flex flex-col justify-center items-start p-4">
                        <h1 class="mt-4 text-2xl font-semibold">
                            Korkein tänään
                        </h1>
                        <p class="font-mono mt-2 text-2xl font-semibold">
                            {{highestPriceToday}}, <span class="text-xl font-normal font-sans"> kl.{{formatDate highestPriceTodayTimeslot}}</span>
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- table -->
            <div class="bg-[#F7F8FC] border-2 border-[#5397FC] rounded-3xl w-full 2xl:max-w-[90%] mt-24 p-10">
            <h1 class="text-2xl font-semibold">
                Tuntihinnat
            </h1>
            <canvas id="hourlyChartChartJS" ></canvas>
            <script>
                const xValues = [];
                const yValues = [];
                const barColors = [];

                // Iterate over the tableData list and extract the hour and price values
                {{#each tableData}}
                    xValues.push({{hour}} + ":00");
                    yValues.push({{price}});
                    barColors.push("#5397FC"); // You can set the bar color dynamically if needed
                {{/each}}

                new Chart("hourlyChartChartJS", {
                    type: "bar",
                    data: {
                        labels: xValues,
                        datasets: [{
                            label: "snt/kWh",
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        legend: {
                            display: true
                        },
                    }
                });
            </script>
            </div>
       </div>

        <!-- side panel -->
        <div class="my-side-page w-1/4 h-[full] -mt-20 flex overflow-hidden">
            <div class="bg-[#F7F7F7] w-full h-[full] overflow-hidden">
            </div>
        </div>

    </div>
</body>
</html>