<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
    </style>    
</head>
<body>
    
    <!-- main container -->
    <div class="bg-white flex w-full h-screen">

        <!-- menu -->
        <div class="w-[120px] h-full p-6">
            
            <!-- logo -->
            <div class="my-4 w-[60px] h-[60px] flex justify-center items-center m-2">
                <a href="/" class="hover:drop-shadow-lg transition duration-300 w-[60px] h-[60px] items-center justify-center flex">
                    <img src="icons/house.png" alt="logo" class="w-[60px] h-[60px]">
                </a>
            </div>

            <!-- menu items -->
            <div class="grid grid-cols-1 grid-rows-3 gap-y-10 mt-12 place-items-center">
                <a href="/general" id="general-button" class="rounded-2xl hover:drop-shadow-lg transition duration-300 w-[50px] h-[50px]">
                    <img src="icons/chart-active.png" alt="logo" class="w-[50px] h-[50px] p-2">
                </a>
                <a href="/spot-prices" id="spot-prices-button" class="rounded-2xl hover:drop-shadow-lg transition duration-300 w-[50px] h-[50px]">
                    <img src="icons/electricity.png" alt="logo" class="w-[50px] h-[50px] p-2">
                </a>
                <a href="/weather" id="weather-button" class="rounded-2xl hover:drop-shadow-lg transition duration-300 w-[50px] h-[50px]">
                    <img src="icons/cloudy.png" alt="logo" class="w-[50px] h-[50px] p-2">
                </a>
            </div>

            <!-- second menu items -->
            <div class="grid grid-cols-1 grid-rows-2 gap-y-10 mt-72 place-items-center">
                <a href="/settings" id="settings-button" class="rounded-2xl hover:drop-shadow-lg transition duration-300 p-2 w-[50px] h-[50px]">
                    <img src="icons/settings.png" alt="logo" class="w-full h-full">
                </a>
                <a href="/theme" id="theme-button" class="rounded-2xl hover:drop-shadow-lg transition duration-300 w-[50px] h-[50px]">
                    <img src="icons/theme.png" alt="logo" class="w-full h-full p-2">
                </a>
            </div>
        </div>

        <!-- main content -->
        <div class="w-3/4 h-full px-12 py-12">

            <!-- top content -->
            {{!-- <div class="w-full h-[11%] mb-7 flex">

                <!-- left content -->
                <div class="w-1/2 h-full flex">
                    <!-- user icon -->
                    <div class="w-[60px] h-[50px] self-center">
                        <img src="icons/lowest.png" alt="user" class="w-full h-full rounded-full">
                    </div>

                    <!-- user welcome -->
                    <div class="w-full h-full pl-3 content-center">
                        <p class="text-3xl font-normal text-gray-800 self-center">
                            Hello,
                        </p>
                        <p class="text-4xl font-semibold pt-1 pl-1">
                            User
                        </p>
                    </div>
                </div>

                <!-- right content -->
                <div class="w-1/2 h-full"></div>
            </div> --}}

            <div class="w-full flex justify-end">
                <h1 onload=showTime() id="clock" class="text-[#19283F] text-bold text-xl">
                </h1>
            </div>

            <!-- middle content -->
            <div class="w-full h-[45%] grid grid-cols-2 grid-rows-1 gap-x-7 mt-8 pb-6">

                <!-- left content -->
                <a href="/spot-prices" class="hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300">
                    <div class="bg-[url(/images/windturbine-bg.png)] bg-cover bg-center bg-no-repeat w-full h-full grid grid-cols-1 grid-rows-3 gap-y-4 rounded-[25px] p-8">

                        <!-- title -->
                        <div class="grid grid-cols-2 grid-rows-1">
                            <div class="col-span-1 flex">
                                <img src="/icons/electricity-orange.png" alt="logo" class="w-[40px] h-[40px] bg-white rounded-full p-1">
                                <div class="ml-4">
                                    <h1 class="text-xl font-bold text-[#19283F]">
                                        Hinta nyt
                                        <span class="font-semibold text-lg text-[#19283F]">
                                            <br>
                                            (snt/kWh)
                                        </span>
                                    </h1>
                                </div>
                            </div>
                        </div>

                        <!-- price now -->
                        <div class="bg-[#19283F] p-2 rounded-3xl flex items-center justify-center h-full w-[45%]">
                            <div class="flex items-center justify-center">
                                <h1 class="text-5xl text-right text-white font-semibold">
                                    {{priceNow}}
                                </h1>
                            </div>
                        </div>

                        <!-- some kind of progress bar to show if price is high or low -->
                        <div class="bg-white rounded-3xl flex p-3 grid grid-cols-1 grid-rows-2">

                            <div class="w-full flex justify-between">
                                <h1 class="text-[#19283F] text-bold text-md">
                                    Matala
                                </h1>
                                <h1 class="text-[#19283F] text-bold text-md text-center">
                                    Kohtuullinen
                                </h1>
                                <h1 class="text-[#19283F] text-bold text-md">
                                    Korkea
                                </h1>
                            </div>

                            <!-- progress bar -->
                            <div>
                                <div class="w-full bg-[#D9DDE6] rounded-full overflow-hidden">

                                    <div id="progress" class="h-[20px] w-0 transition-[width] duration-500" style="background: repeating-linear-gradient(-45deg, #F57F28, #F57F28 10px, #fbaa6f 10px, #fbaa6f 20px);">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- right content -->
                <a href="/weather" class="hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300">
                    <div class="bg-[url(/images/kite3.png)] bg-cover bg-top bg-no-repeat w-full h-full flex grid grid-cols-1 grid-rows-3 gap-y-4 rounded-[25px] p-8">

                        
                        <!-- title -->
                        <div class="grid grid-cols-2 grid-rows-1">
                            <div class="col-span-1 flex">
                                <img src="/icons/cloudy-orange.png" alt="logo" class="w-[40px] h-[40px] bg-white rounded-full p-1">
                                <div class="ml-4">
                                    <h1 class="text-xl font-semibold text-white">
                                        Nykyinen sää
                                        <span class="font-normal text-lg text-white">
                                            <br>
                                            (°C)
                                        </span>
                                    </h1>
                                </div>
                            </div>
                        </div>

                        <!-- temperature now -->
                        <div class="bg-white p-2 rounded-3xl flex items-center justify-center h-full w-[45%]">
                            <div class="flex items-center justify-center">
                                <h1 class="text-5xl text-right text-[#19283F] font-semibold">
                                    -1.5°C
                                </h1>
                            </div>
                        </div>

                        <!-- quick view boxes -->
                        <div class="flex grid grid-cols-3 grid-rows-1 gap-x-4 w-full h-full">

                            <div class="bg-[#19283F] rounded-3xl w-full h-full flex justify-top items-center flex-col text-white">
                                <h1 class="text-sm p-1">
                                    Tuulen nopeus
                                </h1>
                                <h1 class="text-2xl text-bold">
                                    2 m/s
                                </h1>
                            </div>
                            <div class="bg-[#CCE16A] rounded-3xl w-full h-full flex justify-top items-center flex-col text-black">
                                <h1 class="text-sm p-1">
                                    Sade
                                </h1>
                                <h1 class="text-2xl text-bold">
                                    2.2 mm
                                </h1>
                            </div>
                            <div class="bg-white rounded-3xl w-full h-full flex justify-top items-center flex-col text-black">
                                <h1 class="text-sm p-1">
                                    Pilvisyys
                                </h1>
                                <h1 class="text-xl text-bold">
                                    Pilvistä (8/8)
                                </h1>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>

            <!-- bottom content -->
            <div class="w-full h-[45%] grid grid-cols-3 grid-rows-1 gap-x-7 pt-6">
                
                <!-- left chart -->
                <div class="col-span-2 bg-white w-full h-full rounded-[25px]">
                    <h1 class="text-2xl font-semibold">
                        Tuntihinnat <span class="font-normal text-xl">(snt/kWh)</span>
                    </h1>
                    <canvas class="max-h-[90%]" id="hourlyChartChartJS"></canvas>
                    <script>
                        const xValues = [];
                        const yValues = [];
                        const barColors = [];

                        // Iterate over the tableData list and extract the hour and price values
                        {{#each tableData}}
                            xValues.push({{hour}} + ":00");
                            yValues.push({{price}});
                            barColors.push("#F57F28");
                        {{/each}}

                        new Chart("hourlyChartChartJS", {
                            type: "bar",
                            data: {
                                labels: xValues,
                                datasets: [{
                                    label: "snt/kWh",
                                    backgroundColor: barColors,
                                    data: yValues
                                }]
                            },
                            options: {
                                legend: {
                                    display: false
                                },
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            display: false
                                        }
                                    }],
                                    yAxes: [{
                                        gridLines: {
                                            display: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>

                <!-- right content -->
                <a href="/spot-prices" class="hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300">
                    <div class="bg-[#F8EDE2] bg-cover bg-center bg-no-repeat w-full h-full flex rounded-[25px] grid grid-cols-1 grid-rows-3 p-4 gap-y-4">

                        <div class="grid grid-cols-8 grid-rows-1 w-full h-full bg-[#19283F] rounded-3xl ">
                            <div class="col-span-2 justify-self-center flex items-center">
                                <img src="/icons/night-orange.png" class="self-center w-[40px] h-[40px] bg-white rounded-full p-1" alt="">
                            </div>

                            <div class="grid grid-rows-2 grid-cols-1 col-span-3">
                                <h1 class="text-md font-semibold text-white flex items-end">
                                    Illalla
                                </h1>
                                <p class="text-xl font-bold text-white flex items-top">
                                    19:00
                                </p>
                            </div>

                            <div class="col-span-3 flex justify-center">
                                <h1 class="text-2xl font-bold text-[#F57F28] flex items-center self-center">
                                    {{priceEvening}}
                                </h1>
                            </div>  
                        </div>
                        <div class="grid grid-cols-8 grid-rows-1 w-full h-full bg-[#CCE16A] rounded-3xl">
                            <div class="col-span-2 justify-self-center flex items-center">
                                <img src="/icons/up-orange.png" class="self-center w-[40px] h-[40px] bg-white rounded-full p-1" alt="">
                            </div>

                            <div class="grid grid-rows-2 grid-cols-1 col-span-3">
                                <h1 class="text-sm font-semibold text-[#19283F] flex items-end">
                                    Korkein hinta tänään
                                </h1>
                                <p class="text-xl font-bold text-[#19283F] flex items-top">
                                    {{formatDate highestPriceTodayTimeslot}}
                                </p>
                            </div>

                            <div class="col-span-3 flex justify-center">
                                <h1 class="text-2xl font-bold text-[#F57F28] flex items-center self-center">
                                    {{highestPriceToday}}
                                </h1>
                            </div>  
                        </div>
                        <div class="grid grid-cols-8 grid-rows-1 w-full h-full bg-white rounded-3xl">
                            <div class="col-span-2 justify-self-center flex items-center">
                                <img src="/icons/down-orange.png" class="self-center w-[40px] h-[40px] bg-white rounded-full p-1" alt="">
                            </div>

                            <div class="grid grid-rows-2 grid-cols-1 col-span-3">
                                <h1 class="text-md font-semibold text-[#19283F] flex items-end">
                                    Alin hinta tänään
                                </h1>
                                <p class="text-xl font-bold text-[#19283F] flex items-top">
                                    {{formatDate lowestPriceTodayTimeslot}}
                                </p>
                            </div>

                            <div class="col-span-3 flex justify-center">
                                <h1 class="text-2xl font-bold text-[#F57F28] flex items-center self-center">
                                    {{lowestPriceToday}}
                                </h1>
                            </div>  
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- side content -->
        <div class="bg-[#F7F7F7] w-1/4 h-full p-12 overflow-hidden">
            
            <!-- title -->
            <div class="w-full h-[10%] grid grid-cols-3 grid-rows-1">
                <div class="col-span-2">
                    <h1 class="text-2xl font-semibold text-[#19283F]">
                        Sun
                    </h1>
                    <p>
                        Varsinais-Suomi, Finland
                    </p>
                </div>
                <div class="">
                    <h1 class="text-5xl text-[#F57F28] font-semibold self-center">
                        22°C
                    </h1>
                </div>
            </div>

            <hr>

            <!-- content -->
            <div class="pt-12">

                <!-- sun icon -->
                <div class="w-full flex justify-center">
                    <img src="/icons/weather/sun.png" class="self-center w-[35px] h-[35px] " alt="">
                </div>

                <!-- sun chart -->
                <div>
                    <canvas class="px-3 h-14 w-20" id="sunChartChartjs"></canvas>
                    <script>

                        // Get the sunrise and sunset times
                        // This is just placeholder data, you would replace this with the actual times
                        var sunriseTime = new Date('2023-11-23T08:18:00');
                        var sunsetTime = new Date('2023-11-23T16:10:00');

                        // Create the gauge chart
                        var ctx = document.getElementById('sunChartChartjs').getContext('2d');
                        // Create a gradient
                        var gradient = ctx.createLinearGradient(0, 0, 0, 200);
                        gradient.addColorStop(0, '#FFC489'); // Orange at the top
                        gradient.addColorStop(1, '#F7F7F7'); // #F7F7F7 at the bottom

                        var chart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                datasets: [{
                                    data: [0, 1],
                                    backgroundColor: [gradient, '#F7F7F7'],
                                    borderColor: '#F57F28',
                                    borderWidth: 1,
                                }]
                            },
                            options: {
                                circumference: Math.PI,
                                rotation: -Math.PI
                            },
                        });

                        // Function to update the chart
                        function updateChart() {
                            // Get the current time
                            var currentTime = new Date();

                            // Calculate the current time as a percentage of the time between sunrise and sunset
                            var totalDaylightTime = sunsetTime - sunriseTime;
                            var elapsedTimeSinceSunrise = currentTime - sunriseTime;
                            var percentageOfDaylightTimePassed = elapsedTimeSinceSunrise / totalDaylightTime;

                            // Update the chart data
                            chart.data.datasets[0].data = [percentageOfDaylightTimePassed, 1 - percentageOfDaylightTimePassed];

                            // Redraw the chart
                            chart.update();
                        }

                        // Update the chart immediately
                        updateChart();

                        // Update the chart every second
                        setInterval(updateChart, 60 * 1000);
                    </script>
                </div>

                <!-- sun times -->
                <div class="w-full flex justify-between">
                    <div class="">
                        <h1 class="text-md font-semibold ">
                        Sunrise
                        </h1>
                        <p class="pl-2 text-sm ">
                            08:18
                        </p>
                    </div>
                    <div class="">
                        <h1 class="text-md font-semibold ">
                        Sunset
                        </h1>
                        <p class="pl-2 text-sm ">
                            16:10
                        </p>
                    </div>
                </div>

                <!-- weather forecast -->
                <div class="grid grid-cols-2 grid-rows-4 mt-14">
                    <div class="col-span-2">
                        <h1 class="text-3xl font-semibold text-[#19283F]">
                            Weather Forecast
                        </h1>
                    </div>

                    <div class="-mt-6 col-span-2 bg-white rounded-3xl grid grid-cols-8 grid-rows-1 w-full h-24">
                        <div class="col-span-2 justify-self-center flex items-center">
                            <img src="/icons/weather/sun.png" class="self-center w-[45px] h-[45px] " alt="">
                        </div>

                        <div class="grid grid-rows-2 grid-cols-1 col-span-3">
                            <h1 class="text-md font-semibold text-gray-600 flex items-end">
                                November 10
                            </h1>
                            <p class="text-xl font-bold text-black flex items-top">
                                12:00
                            </p>
                        </div>

                        <div class="col-span-3 flex justify-center">
                            <h1 class="text-xl font-bold text-[#F57F28] flex items-center self-center">
                                22° / 12°
                            </h1>
                        </div>  
                    </div>

                    <div class="-mt-2 mb-4 col-span-2 bg-white rounded-3xl grid grid-cols-8 grid-rows-1 w-full h-24">
                        <div class="col-span-2 justify-self-center flex items-center">
                            <img src="/icons/weather/cloudy.png" class="self-center w-[45px] h-[45px] " alt="">
                        </div>

                        <div class="grid grid-rows-2 grid-cols-1 col-span-3">
                            <h1 class="text-md font-semibold text-gray-600 flex items-end">
                                November 11
                            </h1>
                            <p class="text-xl font-bold text-black flex items-top">
                                12:00
                            </p>
                        </div>

                        <div class="col-span-3 flex justify-center">
                            <h1 class="text-xl font-bold text-[#F57F28] flex items-center self-center">
                                2° / -4°
                            </h1>
                        </div>  
                    </div>

                    <a href="/weather" class="col-start-2 bg-[#F57F28] rounded-3xl w-full h-16 grid grid-cols-3 -gap-2 grid-rows-1 drop-shadow-[0px_3px_5px_#F57F28] ">

                        <div class="col-start-1 col-end-2 justify-self-center flex items-center">
                            <img src="/icons/arrow.png" class="self-center w-[25px] h-[25px] " alt="">
                        </div>
                        <div class="col-span-2 flex items-center">
                            <h1 class="text-md font-normal text-white">
                                Check Weather
                            </h1>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    <script>
        window.onload = function() {
            var url = window.location.href;
            if (url.indexOf('general') > -1) {
                var general_button = document.getElementById('general-button')
                general_button.classList.add('bg-[#F57F28]');
                general_button.classList.add('drop-shadow-lg');
            }
        }
        document.querySelector('.my-nav').remove();
        
        // ------------------------------
        // progress-bar
        const currentPrice = {{priceNow}};
        const maxPrice = 15;
        const progress = document.getElementById('progress');

        // Calculate the percentage of the current price relative to the max price
        const percentage = (currentPrice / maxPrice) * 100;
        if (percentage <= 0) {
            percentage = 1;
        }

        // Update the width of the progress bar
        progress.style.width = `${percentage}%`;

        // ------------------------------
        // clock
        function showTime() {
        // Create a date object containing curent timestamp
        var date = new Date();
        // Separate hours, minutes and seconds
        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();
        // Add leading zeros
        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;
        // Build a string for time and put it into h2 named clock
        var time = h + "." + m + "." + s;
        document.getElementById("clock").innerHTML = time
        // After 1000 ms (1 s) call showTima again
        setTimeout(showTime, 1000);
    }
    showTime();
    </script>
</body>