<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <!-- main container -->
    <div class="bg-white flex w-full h-screen">

        <!-- main content -->
        <div class="bg-[#EAF0FD] w-full h-full px-1 lg:px-12 2xl:px-36 lg:py-4 md:py-2">

            <!-- top content -->
            <div class="w-full flex justify-end">
                <h1 id="clock" class="text-[#19283F] text-bold text-xl flex items-center justify-end mr-2 sm:mr-none">
                </h1>
            </div>

            <!-- middle content -->
            <div class="grid grid-cols-2 grid-rows-1 gap-x-6 mt-6 pb-6">

                <!-- left content -->
                <div class="flex flex-col justify-between">

                    <!-- boxes -->
                    <div class="grid grid-rows-2 grid-cols-2 gap-x-6 gap-y-6">

                        <!-- price now -->
                        <div class="hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 bg-white grid grid-rows-3 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Price now
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-span-2 row-start-3 flex items-end">
                                <h1 class="text-[14px] text-gray-700">
                                    Compared to last week
                                </h1>
                            </div>

                        </div>

                        <!-- average price today -->
                        <div class="hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 bg-white grid grid-rows-3 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Average today
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{averagePriceToday}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-span-2 row-start-3 flex items-end">
                                <h1 class="text-[14px] text-gray-700">
                                    Compared to last week
                                </h1>
                            </div>

                        </div>

                        <!-- lowest today -->
                        <div class="hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 bg-white grid grid-rows-3 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Lowest today, {{formatDate lowestPriceTodayTimeslot}}
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{lowestPriceToday}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-span-2 row-start-3 flex items-end">
                                <h1 class="text-[14px] text-gray-700">
                                    Compared to last week
                                </h1>
                            </div>

                        </div>

                        <!-- highest today -->
                        <div class="hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 bg-white grid grid-rows-3 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Highest today, {{formatDate highestPriceTodayTimeslot}}
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{highestPriceToday}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-span-2 row-start-3 flex items-end">
                                <h1 class="text-[14px] text-gray-700">
                                    Compared to last week
                                </h1>
                            </div>

                        </div>

                    </div>

                    <!-- text -->
                    <div class="mt-6">
                        <!-- title -->
                        <h1 class="font-medium text-[22px]">
                            Price development
                        </h1>

                        <!-- description -->
                        <h1 class="mt-3">
                            In October 2023, the electricity price in SE1 - Luleå was 65% lower compared to the same period last year. This significant decrease was due to a combination of factors including increased renewable energy production, favorable weather conditions, and lower demand. As a result, consumers in Luleå enjoyed substantial savings on their electricity bills during this period.
                        </h1>
                    </div>

                </div>

                <!-- right content / ? -->
                <div class="ml-12">
                    <div class="hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 bg-[#98BDFF] rounded-3xl shadow-md flex flex-col p-8">
                        
                        <!-- title -->
                        <div>
                            <h1 class="font-medium text-[22px]">
                                What data goes here?
                            </h1>
                        </div>

                        <!-- description -->
                        <div class="row-start-2">
                            <h1 class="mt-3">
                                This is the description.
                            </h1>
                        </div>

                        <!-- Last week -->
                        <div class="bg-white grid grid-rows-2 grid-cols-1 shadow-md rounded-3xl p-4 my-2">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    last week comparison?
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Last month -->
                        <div class="bg-white grid grid-rows-2 grid-cols-1 shadow-md rounded-3xl p-4 my-2">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Last month comparison?
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Last year -->
                        <div class="bg-white grid grid-rows-2 grid-cols-1 shadow-md rounded-3xl p-4 my-2">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Last year comparison?
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
            </div>

            <!-- bottom content -->
            <!-- Things that should go here: choose chart or table, download as, choose start date, choose compare to previous year, "choose day, week, year", some info box? -->
            <div class="w-full h-full">
                <div class="bg-white w-full h-full py-12 px-12 rounded-3xl flex flex-col">

                    <!-- Title -->
                    <h1 class="font-medium text-[22px]">
                        Sähkön hinta nyt sekä valitulla ajanjaksolla
                    </h1>

                    <!-- Selections -->
                    <div class="flex w-full pt-6 items-end">

                         <!-- Choose startdate -->
                        <div class="mr-6">
                            <label class="text-lg font-semibold">Valitse aloituspäviä</label>
                            <br>
                            <input id="datepicker" class="rounded-3xl shadow-md px-3 py-2 w-56 cursor-pointer border border-1" type="text" placeholder="">
                        </div>

                        <!-- Choose time period -->
                        <div class="mr-6">
                            <label class="text-lg font-semibold">Näytettävä ajanjakso</label>
                            <br>
                            <div class="relative inline-flex w-56">
                                <select class="rounded-3xl shadow-md px-3 py-2 w-full cursor-pointer border border-1" id="timePeriod">
                                    <option value="day">Today (hourly)</option>
                                    <option value="week">Week</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                </select>
                            </div>
                        </div>

                        <!-- Checkbox to compare to last year -->
                        <div class="">
                            <label class="text-lg font-normal flex items-center">
                                <input type="checkbox" class="form-checkbox rounded-3xl cursor-pointer h-5 w-5" id="compareLastYear">
                                <span class="ml-2">Compare to last year</span>
                            </label>
                        </div>
                    </div>

                    <!-- Table or Chart selection -->
                    <div class="pt-3 w-full flex justify-center items-center">
                        <div class="inline-flex rounded-3xl shadow-md border border-2 border-[#4B49AC]" role="group">
                            <button type="button" class="rounded-l-3xl px-4">
                                Chart
                            </button>
                            <button type="button" class="bg-[#4B49AC] rounded-r-3xl px-4 text-white">
                                Table
                            </button>
                        </div>
                    </div>
                    <!-- Chart -->
                    <div class="w-full h-full pt-6">
                        <canvas id="spot-price-page-chart" width="400" height="400"></canvas>
                    </div>
                    
                </div>

            </div>
        </div>
        
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        function formatDate(dateString) {
            // Create a new Date object
            const date = new Date(dateString);

            // Format the date
            const hours = date.getHours() + ":00";
            const day = date.getDate();
            const month = date.getMonth() + 1; // Months are zero-based
            const year = date.getFullYear();

            // Return the formatted date
            return `${hours}`;
        }
        // Define the chart variable outside the function
let chart;

        const xValues = [];
        const yValues = [];
        const barColors = [];
        const averagePriceTodayData = [];

        // Get the average price for today
        let averagePriceToday = {{averagePriceToday}};

        // Iterate over the tableData list and extract the hour and price values
        {{#each pricesTodayTable}}
            xValues.push("{{formatDate timeslot}}");
            yValues.push({{price}});
            barColors.push("rgba(245, 127, 40, 0.9)");
            averagePriceTodayData.push(averagePriceToday);
        {{/each}}

        chart = new Chart(document.getElementById('spot-price-page-chart'), {
            type: 'bar',
            data: {
                labels: xValues,
                datasets: [{
                    type: 'line',
                    label: "Average Today",
                    borderColor: "#BC5E00",
                    borderWidth: 2,
                    data: averagePriceTodayData,
                    fill: false,
                    pointRadius: 0,
                    borderDash: [5, 5],
                }, {
                    label: "Hourly",
                    backgroundColor: barColors,
                    data: yValues,
                    borderRadius: 5,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        grid: {
                            display: true
                        }
                    }
                }
            }
        });
        // Get the select element
const timePeriodSelect = document.getElementById('timePeriod');

// Function to update the chart
// Function to update the chart
let pricesTodayTable = {{{json pricesTodayTable}}};
let pricesThisWeekDaily = {{{json pricesThisWeekDaily}}};
let pricesThisMonthDaily = {{{json pricesThisMonthDaily}}};
let pricesThisYearMonthly = {{{json pricesThisYearMonthly}}};


function updateChart() {
    // Get the selected time period
    const timePeriod = timePeriodSelect.value;

    // Clear the current chart data
    xValues.length = 0;
    yValues.length = 0;
    barColors.length = 0;
    averagePriceTodayData.length = 0;

    // Determine which data to use based on the selected time period
    let data;
    switch (timePeriod) {
        case 'day':
            data = pricesTodayTable;
            break;
        case 'week':
            data = pricesThisWeekDaily;
            break;
        case 'month':
            data = pricesThisMonthDaily;
            break;
        case 'year':
            data = pricesThisYearMonthly;
            break;
    }

    // Update the chart data
    data.forEach(item => {
        xValues.push(formatDate(item.timeslot));
        yValues.push(item.price);
        barColors.push("rgba(245, 127, 40, 0.9)");
        averagePriceTodayData.push(averagePriceToday);
    });

    // Update the chart
    chart.update();
}

// Listen for changes on the select element
timePeriodSelect.addEventListener('change', updateChart);

// Update the chart initially
updateChart();

        //----------------------------------------------

        // datepicker
        let dateDP = new Date();
        flatpickr("#datepicker", {
            defaultDate: [dateDP],
            dateFormat: "d.m.Y",
            altInput: true,
            altFormat: "F j, Y",
        });

        //----------------------------------------------
        window.onload = function() {     
        
        // clock
        function showTime() {
            // Create a date object containing current timestamp
            var date = new Date();
            // Separate hours, minutes and seconds
            var h = date.getHours();
            var m = date.getMinutes();
            var s = date.getSeconds();
            // Add leading zeros
            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;
            // Build a string for time and put it into h1 named clock
            var time = h + "." + m + "." + s;
            document.getElementById("clock").innerHTML = time;
            // After 1000 ms (1 s) call showTime again
            setTimeout(showTime, 1000);
        }
        showTime();
        }

    </script>
</body>