<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> 
</head>
<body>
    <!-- main container -->
    <div class="bg-white flex w-full h-screen">

        <!-- placeholder -->
        <div class="w-[120px] h-full p-6 lg:block hidden"></div>
        <!-- lg menu -->
        <div class="w-[120px] h-full p-6 lg:block hidden fixed">
            
            <!-- logo -->
            <div class="my-4 w-[60px] h-[60px] flex justify-center items-center m-2">
                <a href="/" class="hover:drop-shadow-lg hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 w-[60px] h-[60px] items-center justify-center flex">
                    <img src="icons/house.png" alt="logo" class="w-[60px] h-[60px]">
                </a>
            </div>

            <!-- menu items -->
            <div class="grid grid-cols-1 grid-rows-3 gap-y-10 mt-12 place-items-center">
                <a href="/general" id="general-button" class="rounded-2xl hover:shadow-lg hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 w-[50px] h-[50px]">
                    <img src="icons/chart.png" alt="logo" class="w-[50px] h-[50px] p-2">
                </a>
                <a href="/spot-prices" id="spot-prices-button" class="rounded-2xl hover:drop-shadow-lg transition duration-300 w-[50px] h-[50px] bg-[#F57F28] drop-shadow-lg">
                    <img src="icons/electricity-active.png" alt="logo" class="w-[50px] h-[50px] p-2">
                </a>
                <a href="/weather" id="weather-button" class="rounded-2xl hover:shadow-lg hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 w-[50px] h-[50px]">
                    <img src="icons/cloudy.png" alt="logo" class="w-[50px] h-[50px] p-2">
                </a>
            </div>

            <!-- second menu items -->
            <div class="grid grid-cols-1 grid-rows-2 gap-y-10 mt-72 place-items-center">
                <a href="/settings" id="settings-button" class="rounded-2xl hover:shadow-lg hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 p-2 w-[50px] h-[50px]">
                    <img src="icons/settings.png" alt="logo" class="w-full h-full">
                </a>
                <a href="/theme" id="theme-button" class="rounded-2xl hover:shadow-lg hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 w-[50px] h-[50px]">
                    <img src="icons/theme.png" alt="logo" class="w-full h-full p-2">
                </a>
            </div>
        </div>

        <!-- main content -->
        <div class="bg-[#EAF0FD] w-full h-full px-1 sm:px-12 lg:py-8 md:py-4">

            <!-- top content -->
            <div class="w-full flex justify-between">
                
                <!-- md menu -->
                <div class="lg:hidden block">
                    <button class="menu-button">
                        <!-- hamburger icon -->
                        <img src="icons/menu-squared-orange.png" alt="menu" class="w-[50px] h-[50px]">
                    </button>
                </div>
                <!-- md menu -->
                <div class="bg-[#F7F7F7] fixed lg:hidden hidden menu z-50 w-[200px] h-[200px] text-center rounded-3xl shadow-md top-16 grid grid-cols-1 grid-rows-6">

                    <a href="/" class="hover:bg-[#F57F28] hover:text-white text-[#19283F] text-lg font-semibold rounded-3xl">
                        <h1>
                            Etusivu
                        </h1>
                    </a>
                    <a href="/general" class="hover:bg-[#F57F28] hover:text-white text-[#19283F] text-lg font-semibold rounded-3xl">
                        <h1>
                            General
                        </h1>
                    </a>
                    <a href="/spot-prices" class="hover:bg-[#F57F28] hover:text-white text-[#19283F] text-lg font-semibold rounded-3xl">
                        <h1>
                            Spot Prices
                        </h1>
                    </a>
                    <a href="/weather" class="hover:bg-[#F57F28] hover:text-white text-[#19283F] text-lg font-semibold rounded-3xl">
                        <h1>
                            Weather
                        </h1>
                    </a>
                    <a href="/settings" class="hover:bg-[#F57F28] hover:text-white text-[#19283F] text-lg font-semibold rounded-3xl">
                        <h1>
                            Settings
                        </h1>
                    </a>
                    <a href="/theme" class="hover:bg-[#F57F28] hover:text-white text-[#19283F] text-lg font-semibold rounded-3xl">
                        <h1>
                            Theme
                        </h1>
                    </a>
                </div>

                <h1 onload=showTime() id="clock" class="text-[#19283F] text-bold text-xl flex items-center justify-center mr-2 sm:mr-none">
                </h1>
            </div>

            <!-- middle content -->
            <div class="grid grid-cols-2 grid-rows-1 gap-x-6 mt-8 pb-6">

                <!-- left content -->
                <div class="flex flex-col justify-between">

                    <!-- boxes -->
                    <div class="grid grid-rows-2 grid-cols-2 gap-x-6 gap-y-6">

                        <!-- price now -->
                        <div class="bg-white grid grid-rows-3 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Price now
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-span-2 row-start-3 flex items-end">
                                <h1 class="text-[14px] text-gray-700">
                                    Compared to last week
                                </h1>
                            </div>

                        </div>

                        <!-- average price today -->
                        <div class="bg-white grid grid-rows-3 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Price now
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-span-2 row-start-3 flex items-end">
                                <h1 class="text-[14px] text-gray-700">
                                    Compared to last week
                                </h1>
                            </div>

                        </div>

                        <!-- lowest today -->
                        <div class="bg-white grid grid-rows-3 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Price now
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-span-2 row-start-3 flex items-end">
                                <h1 class="text-[14px] text-gray-700">
                                    Compared to last week
                                </h1>
                            </div>

                        </div>

                        <!-- highest today -->
                        <div class="bg-white grid grid-rows-3 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Price now
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-span-2 row-start-3 flex items-end">
                                <h1 class="text-[14px] text-gray-700">
                                    Compared to last week
                                </h1>
                            </div>

                        </div>

                    </div>

                    <!-- text -->
                    <div class="mt-6">
                        <!-- title -->
                        <h1 class="font-medium text-[22px]">
                            Price development
                        </h1>

                        <!-- description -->
                        <h1 class="mt-3">
                            In October 2023, the electricity price in SE1 - Luleå was 65% lower compared to the same period last year. This significant decrease was due to a combination of factors including increased renewable energy production, favorable weather conditions, and lower demand. As a result, consumers in Luleå enjoyed substantial savings on their electricity bills during this period.
                        </h1>
                    </div>

                </div>

                <!-- right content / Trends -->
                <div class="mx-12">
                    <div class="bg-[#98BDFF] rounded-3xl shadow-md flex flex-col p-8">
                        
                        <!-- title -->
                        <div>
                            <h1 class="font-medium text-[22px]">
                                Trends
                            </h1>
                        </div>

                        <!-- description -->
                        <div class="row-start-2">
                            <h1 class="mt-3">
                                The trends show how the average spot electricity price has developed over the last week, month, and year compared to the corresponding period before that.
                            </h1>

                        <!-- Last week -->
                        <div class="bg-white grid grid-rows-2 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Price now
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Last month -->
                        <div class="bg-white grid grid-rows-2 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Price now
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Last year -->
                        <div class="bg-white grid grid-rows-2 grid-cols-1 shadow-md rounded-3xl p-4">

                            <!-- title -->
                            <div class="">
                                <h1 class="font-medium text-[17px]">
                                    Price now
                                </h1>
                            </div>

                            <!-- price -->
                            <div class="flex row-start-2">

                                <div class="mr-4">
                                    <h1 class="font-semibold text-[20px]">
                                        {{priceNow}} <span class="text-[16px] font-medium">snt/kWh</span>
                                    </h1>
                                </div>

                                <div class="">
                                    <div class="bg-[#C3FCBB] rounded-3xl px-2 shadow-sm shadow-[#2F7824]">
                                        <h1 class="text-[#2F7824]">
                                            +14%
                                        </h1>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
            </div>

            <!-- bottom content -->
            <div></div>

        </div>
        
    <script>
    // ------------------------------
    window.onload = function() {        
        const btn = document.querySelector(".menu-button");
        const menu = document.querySelector(".menu");

        // on click and hover, change the image in menu button to orange icon
        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
            btn.removeChild(btn.childNodes[0]);
            if (menu.classList.contains("hidden")) {
                btn.innerHTML = '<img src="icons/menu-squared-orange.png" alt="menu" class="w-[50px] h-[50px]">';
            } else {
                btn.innerHTML = '<img src="icons/menu-squared-hover.png" alt="menu" class="w-[50px] h-[50px]">';
            }
        });
        // ------------------------------
        // clock
        function showTime() {
        // Create a date object containing curent timestamp
        var date = new Date();
        // Separate hours, minutes and seconds
        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();
        // Add leading zeros
        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;
        // Build a string for time and put it into h2 named clock
        var time = h + "." + m + "." + s;
        document.getElementById("clock").innerHTML = time
        // After 1000 ms (1 s) call showTima again
        setTimeout(showTime, 1000);
    }
    showTime();
    }
    </script>
</body>